@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);

    --transition-01: .1s all ease;
    --transition-02: .2s all ease;
    --transition-03: .3s all ease;
    --transition-04: .4s all ease;
    --transition-05: .5s all ease;
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

.containers a {
    color: var(--color-dark);
}

.containers img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.containers h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

.containers h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.containers h3 {
    font-weight: 500;
    font-size: .87rem;
}

.containers small{
    font-size: .76rem;
}

.containers p{
    color: var(--color-dark-variant);
    margin-bottom: 0;
}

.containers b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.containers{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

.asider{
    height: 100vh;
}

.asider .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.asider .toggle .logo{
    display: flex;
    gap: .5rem;
}

.asider .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

.asider .toggle .close{
    padding-right: 1rem;
    display: none;
}

.asider .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 150%;
    position: relative;
    top: 1.5rem;
    transition: var(--transition-03);
}

.asider .sidebar:hover{
    box-shadow: none;
}

.asider .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: var(--transition-03);
}

.asider .sidebar a span{
    font-size: 1.6rem;
    transition: var(--transition-05);
}

.asider .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
    width: 100%;
    left: .5em;
}

.asider .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

.asider .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.asider .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.asider .sidebar a:hover{
    color: var(--color-primary);
    text-decoration: none;
}

.asider .sidebar a:hover span{
    margin-left: .6rem;
}

.asider .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

.main{
    margin-top: 1.4rem;
}

.main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition-03);
}

.main .analyse > div:hover{
    box-shadow: none;
}

.main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .analyse h3{
    margin-left: .6rem;
    font-size: 1rem;
}

.main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.main .analyse svg{
    width: 7rem;
    height: 7rem;
}

.main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main .new-users{
    margin-top: 1.3rem;
}

.main .new-users .user-list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: var(--transition-03);
}

.main .new-users .user-list:hover{
    box-shadow: none;
}

.main .new-users .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .new-users .user-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: .4rem;
    border-radius: 50%;
}

.main .recent-orders{
    margin-top: 1.3rem;
}

.main .recent-orders h2{
    margin-bottom: .8rem;
}

.main .recent-orders table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: var(--transition-03);
}

.main .recent-orders table:hover{
    box-shadow: none;
}

.main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.main table tbody tr:last-child td{
    border: none;
}

.main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.right-section {
    margin-top: 1.6rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: #fff;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.right-section .user-profile{
    display: flex;
    justify-items: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition-03);
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: .8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: .2rem;
}

.right-section .reminders{
    margin-top: 2rem;
}

.right-section .reminders .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}

.right-section .reminders .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .reminders .notification{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition-03);
}

.right-section .reminders .notification:hover{
    box-shadow: none;
}

.right-section .reminders .notification .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.right-section .reminders .notification .icon{
    padding: .6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.right-section .reminders .notification.deactive .icon{
    background-color: var(--color-danger);
}

.right-section .reminders .add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .reminders .add-reminder:hover{
    background-color: var(--color-primary);
    color: #fff;
}

.right-section .reminders .add-reminder div{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.right-section .reminders .add-reminder h3{
    margin-top: .7em;
}

.mode{
    position: relative;
    border-radius: 6px;
    background: var(--color-background);
    height: 50%;
}

.mode .moon-sun{
    position: relative;
    width: 100px;
    display: flex;
    align-items: flex-start;
    left: 50px;
}

.mode i {
    position: absolute;
    transition: var(--tran-03);
}

.dark-mode-variables .mode i.sun {
    opacity: 1;
}

.mode i.sun {
    opacity: 0;
}

.dark-mode-variables .mode i.moon {
    opacity: 0;
}

.mode i.moon {
    opacity: 1;
}

.mode .toggle-switch {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    min-width: 100px;
    cursor: pointer;
    background: var(--color-white);
    transition: var(--tran-05);
    border-radius: 6px;
    opacity: 0;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch:before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.switch:before{
    left: 24px;
}

.right-section a:hover .icon,
.right-section a:hover .text {
    color: var(--sidebar-color);
}

.right-section a:hover .icon,
.right-section a:hover .text {
    color: var(--text-color);
}

.right-section .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

#siderbar a.active:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*Cart List*/
._cartlisstdis {
    position: relative;
    text-align: center;
    top: 5.7em;
    left: unset;
    background-color: #fff;
    border-radius: 10px;
}
.txt--input {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f7f7f7 !important;
}

.txt--input:focus {
        background-color: #f7f7f7;
        box-shadow: none;
}
.form-control:focus {
    border: 1px solid #1c1c1c;
    box-shadow: none;
}
.form_edits {
    display: inline-block;
}
.input_edits {
    width: 25em;
    height: 2.5em;
    background: #fff;
}
.form_edits p {
    text-align: justify;
    font-size: smaller;
    font-weight: 600;
    font-family: system-ui;
    top: 1em;
    position: relative
}
/* Black movement button */
.btn--dark--model {
    position: relative;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #1c1c1c;
    z-index: 1;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: #fff;
    margin-left: 1.5em;
    letter-spacing: 2px;
    word-spacing: 2px;
}

    .btn--dark--model:hover::before {
        transform: scale(0,1);
        transform-origin: right center;
        border-end-end-radius: 10px;
        /* width: 100%; */
        border-end-start-radius: 10px;
    }

    .btn--dark--model::before {
        position: absolute;
        border-end-end-radius: 10px;
        /* width: 100%; */
        border-end-start-radius: 10px;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        transform: scale(1,1);
        z-index: -1;
        transform-origin: left center;
        transition: transform 0.45s cubic-bezier(.785, .135, .15, .86), -webkit-transform .45s cubic-bezier(.785, .135, .15, .86);
        background-color: #1c1c1c;
    }

.btn--dark--model:hover {
        background-color: #fff;
        color: #1c1c1c;
        border-color: #1c1c1c;
}
.btn--login {
    margin: 0;
    padding: 5px 0;
}
.contain_form {
    width: 100%;
}

.dis_edit {
  
}
.space_input_login {
   
}
.form_edits {

    width: 100%;
}
.form_edit_ label{
    float: inline-start;
}
.space_input_login {
    width: 10em;
    margin-top: 10px;
}
.space_input_login label{
    position: relative;

}
.edit_btn_l {
    width: 102%;
    border-end-end-radius: 10px;
    /* width: 100%; */
    border-end-start-radius: 10px;
    right: 10px;
}
}
.statistics_order {
    height: 16em;
    width: 26em;
    background-color: #fff;
    margin-top: 6em;
    border-radius: 10px;
    margin-left: 30px;
}
.statistics_reneuve {
    margin: 0 10px 0 0;
    height: 16em;
    width: 100%;
    background-color: #fff;
    margin-top: 6em;
    border-radius: 10px;

}
.statistics_profit {
    height: 16em;
    width: 26em;
    background-color: #fff;
    margin-top: 6em;
    border-radius: 10px;
    margin-left: 30px;
}
.statistics_country {
    height: 16em;
    width: 26em;
    background-color: #fff;
    margin-top: 6em;
    border-radius: 10px;
    margin-left: 30px;
}
._felxbb{
    display: flex;
}
.start_i_order{
    display: flex;
    justify-content: space-between;
}
.title_reneuve {
    font-size: large;
    position: relative;
    left: 0.4em;
    top: 0.99em;
    font-weight: 500;

}
.para_bgcl {
    color: #fff !important;
    position: relative;
    background-color: #6C9BCF;
    height: 2.5em;
    width: 6em;
    text-align: center;
    border-radius: 5px;
    padding: 0.6em 0 0 1px;
    top: 1.2em;
}
.dis_range_ {
    position: relative;
    top: 4em;
    text-align: center;
}
    .dis_range_ p {
        color: #000;
        position: relative;
        top: -0.5em;
        right: 3em;
        font-size: x-large;
    }
    .dis_range_ span{
        position: relative;
        top: 3em;
        left: 8em;
    }
    .edit_dis_statis {
        height: 0.5em;
        width: 90%;
        background-color: #eee;
        position: relative;
        display: inline-block;
        top: 3em;
    }
.range_edit_dis {
    position: absolute;
    width: 10em;
    height: 0.5em;
    background-color: #6C9BCF;
}
.chart_ {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.contain_search{
    position: relative;
    top: 2em;
}
.search_form {
    width: 20em;
    height: 3em;
    border: 1px solid #000;
    border-radius: 5px;
}
.contain_insearch {
    position: relative;
    top: 2em;
}
.para_bgcl1 {
    color: #fff !important;
    position: relative;
    background-color: deeppink;
    height: 2.5em;
    width: 6em;
    text-align: center;
    border-radius: 5px;
    padding: 0.6em 0 0 1px;
    top: 1.2em;
    background-color: deeppink;
}
.dis_range_1 {
    position: relative;
    top: 4em;
    text-align: center;
}
.dis_range_1 p {
    color: #000;
    position: relative;
    top: -0.5em;
    right: 3em;
    font-size: x-large;
}

.dis_range_1 span {
    position: relative;
    top: 3em;
    left: 8em;
}
.edit_dis_statis_1 {
    height: 0.5em;
    width: 90%;
    background-color: #eee;
    position: relative;
    display: inline-block;
    top: 3em;
}
.range_edit_dis_1 {
    position: absolute;
    width: 10em;
    height: 0.5em;
    background-color: deeppink;
}
/*text3*/
.para_bgcl2 {
    color: #fff !important;
    background-color: darkorange;
    position: relative;
    height: 2.5em;
    width: 6em;
    text-align: center;
    border-radius: 5px;
    padding: 0.6em 0 0 1px;
    top: 1.2em;
}

.dis_range_2 {
    position: relative;
    top: 4em;
    text-align: center;
}
.dis_range_2 p {
    color: #000;
    position: relative;
    top: -0.5em;
    right: 3em;
    font-size: x-large;
}

.dis_range_2 span {
    position: relative;
    top: 3em;
    left: 8em;
}
.edit_dis_statis_2 {
    height: 0.5em;
    width: 90%;
    background-color: #eee;
    position: relative;
    display: inline-block;
    top: 3em;
}

.range_edit_dis_2 {
    position: absolute;
    width: 10em;
    height: 0.5em;
    background-color: darkorange;
}
/*Text 4*/
.para_bgcl3 {
    position: relative;
    background-color: darkgreen;
    height: 2.5em;
    width: 6em;
    text-align: center;
    border-radius: 5px;
    padding: 0.6em 0 0 1px;
    top: 1.2em;
    color: #fff !important;
}

.dis_range_3 {
    position: relative;
    top: 4em;
    text-align: center;
}
.dis_range_3 p {
    color: #000;
    position: relative;
    top: -0.5em;
    right: 3em;
    font-size: x-large;
}

.dis_range_3 span {
    position: relative;
    top: 3em;
    left: 8em;
}
.edit_dis_statis_3 {
    height: 0.5em;
    width: 90%;
    background-color: #eee;
    position: relative;
    display: inline-block;
    top: 3em;
}

.range_edit_dis_3 {
    background-color: darkgreen;
    position: absolute;
    width: 10em;
    height: 0.5em;
  
}
.edit_colr{
    background-color: #fff;
}